/* on importe les polices d'écriture qui seront sur le site */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

/* on défini la version mobile et tablettes et l'affichage des pages */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* général */
/* pour enlever le soulignement des liens */
a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

/* pour mettre des marges */

p {
    padding: 1%;
    margin-left: 5%
}

ul {
    padding: 1%;
    margin-left: 5%;
}

h1 {
    font-family: 'Beth Ellen', cursive;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin: 5%;
    font-weight: bold;
    font-size: 3rem;
}

/* définition de l'affichage des titres police vignette centrer*/
h2 {
    background: #dbcba9;
    margin: 10%;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    font-family: "Blinker", sans-serif;
}

/* définition de l'affichage des titres police centrer */
h3 {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 2%;
    font-weight: bold;
    font-family: 'Blinker', sans-serif;
}

/* pour définir la police du site et créer un fond original*/
body {
    /* Un dégradé avec plusieurs arrêts de couleur :un dégradé incliné de 45 degrés commençant en bas à gauche avec une moitié taupe et avec une moitié dorée en haut à droite où une ligne dure marque le changement entre taupe et doré */
    background: linear-gradient(45deg, #bdaba0 0 50%, #e8c1c1 50% 100%);
    font-family: 'Open Sans',
        sans-serif;
    color: #ffffff;

}

/* nav et menu burger */
/* on enleve les liens réservés à la version ordinateur */
.links {
    display: none;
}

/* pour afficher le menu burger ainsi que les inscriptions en version mobile */
.menu-burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#hamburger-logo {
    position: fixed;
    cursor: pointer;
    background: #e8c1c1;
    width: 50px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}

.mobile-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    background: #e8c1c1;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    overflow: hidden;
}

.mobile-menu a {
    color: #ffffff;
    padding: 10px;
    transition: background 0.3s;
}

.mobile-menu a:hover {
    background: #444;
}

#hamburger:checked~.mobile-menu {
    position: fixed;
    display: flex;
}

#hamburger {
    position: fixed;
    display: none;
}

/* création de blocs effets bouton pour les compétences maitrisées*/
.skills p {
    background: #bdaba0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}

/* création de blocs effets bouton pour les compétences en apprentissage*/
.dev_skills p {
    background: #a39b89;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}

/* pour centrer l image dans le cadre rose */
.left-side #portait img {
    height: 80%;
    width: 80%;
    margin: 10%;
    padding: 5%;
}

/* pour espacer l affichage des informations de contact */
#contact div {
    padding: 3% 18%;
    display: flex;
    flex-basis: auto;
}

/* pour espacer les langues  */
.speaking p {
    margin-left: 18%;
}

/* pour espacer la liste */
.values ul {
    margin-left: 18%;
}

/* pour espacer les items de loisir  */
.draw_activities {
    display: flex;
    justify-content: space-around;
}

/* pour centrer les images et vidéos en version téléphone et tablette */
#designs div {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* pour définir le footer la couleur du footer ainsi que la couleur du texte*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background: #dbcba9;
    color: #808080;
}

/* pour la version ordinateur */
@media screen and (min-width: 1025px) {

    h2 {
        background: #808080;
    }

    /* pour afficher la nav la couleur et les liens en ordi */
    nav {
        position: fixed;
        background-color: #808080;
        height: 7vh;
        width: 100%;
    }

    body {
        /* pour créer une bande dorée sur le côté gauche de l'écran et taupe à droite */
        background: linear-gradient(to right,
                #dbcba9 20%,
                #bdaba0 20% 80%);
    }

    /* nav  */

    .links {
        /* pour les aligner éléments les uns à côté des autres, enlever les points des listes, définir la taille de la nav ainsi que la police et sa taille  */
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-family: "Blinker", sans-serif;
        font-weight: bold;
    }

    /* couleur des inscriptions de la nav */
    .links li a {
        color: #e8c1c1;
        padding: 10px;
    }

    /* on enlève la version mobile on fait qu'elle ne soit pas visible */
    .menu-burger {
        display: none;
    }

    /* pour le cadre gauche on le décolle et le colore */
    .left-side {
        display: block;
        margin: 4%;
        width: 30%;
        background: #e8c1c1;
        height: auto;
    }

    /* changer la couleur du fond des titres dans le cadre rose */
    .left-side h2 {
        background: #bdaba0;
    }

    /* pour espacer l affichage des informations de contact */
    #contact div {
        padding: 3% 10%;
    }

    /* pour espacer les langues  */
    .speaking p {
        margin-left: 10%;
    }

    /* pour espacer la liste */
    .values ul {
        margin-left: 12%;
    }

    /* pour créer une grille allignée à droite avec les informations */
    .right-side {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: auto;
        justify-content: end;
        align-content: start;
        grid-template-areas:
            "name name"
            "me me"
            "professional-experience professional-experience"
            "studies studies"
            "skill skill"
            "skills dev_skills";
    }

    .name {
        grid-area: name;
    }

    #me {
        grid-area: me;
    }

    #professional-experience {
        grid-area: professional-experience;
    }

    #studies {
        grid-area: studies;
    }

    .skill {
        grid-area: skill;
    }

    .skills {
        grid-area: skills;

    }

    /* création de blocs effets bouton pour les compétences maitrisées*/
    .skills p {
        grid-area: skills;
        background: #e8c1c1;
        margin: 3%;
        padding: 5%;
        border-radius: 20px;
        text-align: center;
    }

    /* création de blocs effets bouton pour les compétences en apprentissage */
    .dev_skills p {
        grid-area: dev_skills;
        background: #dbcba9;
        margin: 3%;
        padding: 5%;
        border-radius: 20px;
        text-align: center;

    }

    /* pour définir le footer la couleur du footer ainsi que la couleur du texte*/
    footer {
        display: flex;
        justify-content: space-around;
        background: #808080;
        color: #e8c1c1;
    }
}